body{
	font-family:Roboto,sans-serif;
	margin:0;
	font-size:16px;
}

body>div{
	max-width:1000px;
	margin:auto;
	padding-left: 48px;
	position: relative;
	top:64px;
	overflow: auto;
}

input[type=button]{
		margin:5px;
		padding:5px;
		border-radius:5px;
		background-color:#FAFAFA;
		border:#999999 1px solid;			
	}
	
#githubLink{
	position: absolute;
    right: 0;    
    padding: 24px;
	line-height: 1;
}

.sample-toolbar  a{
	color:rgba(0,0,0,.6);
}

div.sample-toolbar {
	max-width:inherit;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
	display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 64px;
	padding: 0px;
    box-sizing: border-box;
	
    background-color: #fff;
	color: rgba(0,0,0,0.87);
	font-size: 100%;
	z-index: 2100;
	
}
.headerLogo{
	height: 48px;
	margin: 8px;
	float: left;
}
.siteName{
	font-size: 24px;
	font-weight: normal;
	color: rgba(0,0,0,.6);
	letter-spacing: 0.43px;
	float:left;
}

#drawer{	
	display:none;
    background-color: white;
	height: 100%;
    position: fixed;
	overflow: auto;
    z-index: 2000;
    left: 0;
    transform: translateX(0);
    padding: 0px;
	animation-name:animDrawer;
	animation-duration:0.2s;
	box-shadow: 0 6px 16px rgba(0,0,0,0.28);
}
#drawer.animateOut{
    animation-name:animDrawerOut;
}

.sample-toolbar a, #drawer a{
	text-decoration:none;
}
.material-icons {
	margin: 14px 2px 14px 18px;
	padding: 6px;
	cursor: pointer;
	height: 36px;
	float: left;
	box-sizing: border-box;
	border-radius: 50%;
}
.material-icons:hover, .material-icons:focus {
	background-color: #e5e5e5;
}

#drawer ul{
	list-style:none;
	padding-left:0px;
	padding: 0px 10px 8px 0px;
	margin: 0px;
	border-bottom: solid #E4E4E4 1px;
}
#drawer li{
	
	width: 100%;
	height: 48px;
	line-height: 48px;
	border-radius: 0px 24px 24px 0px;
	white-space: nowrap;
}
#drawer li:hover{
	background-color: #EEEEEE;
}

#drawer a{
	color:rgba(0,0,0,.87);
	margin-left: 24px;
	font-size: 87%;
	padding-right: 6px;
}

#drawer h4{
	padding-left: 24px;
	font-size: 112.5%;
	color:rgba(0,0,0,.87);
	font-weight: 500;
	letter-spacing: -0.65px;
	height: 32px;
	margin-bottom: 0px;
}

#drawerGlass{
	max-width:inherit;
	display:none;
	height: calc(100% - 84px);
	width:100%;
    background-color: gray;
    position: absolute;
    z-index: 1500;
    left: 0;
    padding: 10px;
	opacity:0.6;
	animation-name:animGlass;
	animation-duration:0.2s;
}
#drawerGlass.animateOut{
    animation-name:animGlassOut;
}

@keyframes animGlass {
	0% {opacity:0;}
	100% {opacity: 0.6;}
}

@keyframes animGlassOut {
    0% {opacity: 0.6;}
	100% {opacity:0;}	
}

@keyframes animDrawer {
	0% {transform: translateX(-100%);}
	100% {transform: translateX(0);}
}
@keyframes animDrawerOut {
	0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}

a.btn,a.btns{
    line-height: 36px;
    padding: 0 30px;
    margin-bottom: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    opacity: 0.85;
    background-color: #eee;
    display:inline-block;    
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.14), 0 1px 7px 0 rgba(0,0,0,.12), 0 3px 1px -1px rgba(0,0,0,.2);
    background-repeat:no-repeat;
    background-position:7px 7px;
}

a.btns{
    margin-top:10px;
    line-height: 24px;
    padding: 0 10px;
}

a.btn.active {
    background-color: #aaa;
}
.contentBox h1{
	color: rgba(0,0,0,.87);
	font-size: 170%;
	font-weight: 400;
	padding: 24px 0px 0px 0px;
	margin:0px;
}
.contentBox h5{
	color: rgba(0,0,0,.87);
	font-size: 120%;
	font-weight: 400;
	padding: 24px 0px 8px 0px;
	margin:0px;
}
.text{
	color: rgba(0,0,0,.54);
	font-size: 100%;
	font-weight: 400;
	padding: 0px 0px 16px 0px;
	margin:0px;
}