body{
	font-family:Roboto,sans-serif;
	margin:0;
	font-size:16px;
}

body>div{
	max-width:1000px;
	margin:auto;
	padding-left: 48px;
	position: relative;
	top:64px;
	overflow: auto;
}

input[type=button]{
		margin:5px;
		padding:5px;
		border-radius:5px;
		background-color:#FAFAFA;
		border:#999999 1px solid;			
	}
	
#githubLink{
	position: absolute;
    right: 0;    
    padding: 24px;
	line-height: 1;
}
.githubLink a{
	color: #008475 !important;
}

.sample-toolbar  a{
	color: rgba(0,0,0,.6);
}

div.sample-toolbar {
	max-width:inherit;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
	display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 64px;
	padding: 0px;
    box-sizing: border-box;
	
    background-color: #fff;
	color: rgba(0,0,0,0.87);
	font-size: 100%;
	z-index: 2100;
	
}
.headerLogo{
	height: 48px;
	margin: 8px;
	float: left;
}
.siteName{
	font-size: 24px;
	font-weight: normal;
	color: rgba(0,0,0,.6);
	letter-spacing: 0.43px;
	float:left;
	margin: 19px 0 0 0;
}

#drawer{	
	display:none;
    background-color: white;
	height: 100%;
	width: 264px;
    position: fixed;
	overflow: auto;
    z-index: 2000;
    left: 0;
    transform: translateX(0);
    padding: 0px;
	animation-name:animDrawer;
	animation-duration:0.2s;
	box-shadow: 0 6px 16px rgba(0,0,0,0.28);
}
#drawer.animateOut{
    animation-name:animDrawerOut;
}

.sample-toolbar a, #drawer a{
	text-decoration:none;
}
.material-icons {
	margin: 14px 2px 14px 18px;
	padding: 6px;
	cursor: pointer;
	height: 36px;
	float: left;
	box-sizing: border-box;
	border-radius: 50%;
}
.material-icons.inline {
	font-size: 20px;
    color: rgba(0,0,0,0.6);
    margin: 0;
    padding: 0;
    float: none;
    height: 20px;
    top: 5px;
    position: relative;
	transform: rotate(-140deg);
    transform-origin: initial;
}
.material-icons.inline.straight{
	transform: none;
	cursor: default;
}
.material-icons.inline.straight:hover{
	background-color: #fff;
}
.material-icons:hover, .material-icons:focus {
	background-color: #e5e5e5;
}

#drawer ul{
	list-style:none;
	padding-left:0px;
	padding: 0px 10px 8px 0px;
	margin: 0px;
	border-bottom: solid #E4E4E4 1px;
}
#drawer li{
	
	width: 100%;
	height: 48px;
	line-height: 48px;
	border-radius: 0px 24px 24px 0px;
	white-space: nowrap;
}
#drawer li:hover{
	background-color: #EEEEEE;
}

#drawer a{
	color:rgba(0,0,0,.87);
	margin-left: 24px;
	font-size: 87%;
	padding-right: 6px;
}

#drawer h4{
	padding-left: 24px;
	font-size: 112.5%;
	color:rgba(0,0,0,.87);
	font-weight: 500;
	letter-spacing: -0.65px;
	height: 32px;
	margin-bottom: 0px;
}

@keyframes animDrawer {
	0% {transform: translateX(-100%);}
	100% {transform: translateX(0);}
}
@keyframes animDrawerOut {
	0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}

a.btn,a.btns{
    line-height: 36px;
    padding: 0 30px;
    margin-bottom: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    opacity: 0.85;
    background-color: #eee;
    display:inline-block;    
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.14), 0 1px 7px 0 rgba(0,0,0,.12), 0 3px 1px -1px rgba(0,0,0,.2);
    background-repeat:no-repeat;
    background-position:7px 7px;
}

a.btns{
    margin-top:10px;
    line-height: 24px;
    padding: 0 10px;
}

a.btn.active {
    background-color: #aaa;
}
.contentBox h1{
	color: rgba(0,0,0,.87);
	font-size: 170%;
	font-weight: 400;
	padding: 24px 0px 0px 0px;
	margin:0px;
}
.contentBox{
	transition: padding-left 0.2s;
}

.contentBox.right{
	padding-left: 312px;
	transition: padding-left 0.2s;
}
.contentBox h5{
	color: rgba(0,0,0,.87);
	font-size: 120%;
	font-weight: 400;
	padding: 24px 0px 8px 0px;
	margin:0px;
}
.text{
	color: rgba(0,0,0,.87);
	font-size: 100%;
	line-height:1.5;
	font-weight: 400;
	padding: 0px 0px 16px 0px;
	margin:0px;
}

.appBtn{
	font-family:Roboto,sans-serif;
	background-color: #fff;
	color: rgba(0,0,0,.87);
	text-decoration: none;
	text-align: center;
	transition: .2s ease-out;
	cursor: pointer;
	border-radius: 2px;
	border-style: none;
    border-image: none;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 16px 0 36px;
	vertical-align: middle;
	font-size: 100%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
	margin-right: 24px;
	background-repeat:no-repeat;
	background-position:8px 8px;
	background-size: 20px;
}
.appBtn.narrow{
	margin-right: 16px;
	margin-bottom: 16px;
	padding-left: 36px;
	
}
.appBtn.noimage{
	padding-left: 16px;
}
.appBtn.noimage.blue{
	background-color: #6557d2;
	color: #fff;
}
.appBtn.fixedSize{
	width: 160px;
}

.appBtn:hover{
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.14), 0 1px 7px 0 rgba(0,0,0,.12), 0 3px 1px -1px rgba(0,0,0,.2);
}
.appBtn.active{
	background-color: #ebebeb;
}
.appBtn:focus{
		outline: none;
}

.inlineLink{
	color: #008475;
}
.inputfield{
	display: flex;
    padding: 12px 16px 14px;
    border: 1px solid;
	border-color: rgba(0,0,0,.6);
	border-radius: 4px;
	box-sizing: border-box;
    background-color: transparent;
    z-index: 1;
	margin-top: 4px;
}
.inputfield:focus{
	border: 2px solid #008475;
	outline: none;
}
label{
	padding-top: 16px;
}
	
.app-icon-graphing{
	background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PGRlZnM+PHBhdGggZD0iTTQ4NSA0NDAuMjRjMCAyNC43Mi0yMC4wNCA0NC43Ni00NC43NiA0NC43Nkg3MS43NkM0Ny4wNCA0ODUgMjcgNDY0Ljk2IDI3IDQ0MC4yNFY3MS43NkMyNyA0Ny4wNCA0Ny4wNCAyNyA3MS43NiAyN2gzNjguNDhDNDY0Ljk2IDI3IDQ4NSA0Ny4wNCA0ODUgNzEuNzZ2MzY4LjQ4eiIgaWQ9IkoiLz48L2RlZnM+PGNsaXBQYXRoIGlkPSJLIj48dXNlIGhlaWdodD0iNTEyIiB3aWR0aD0iNTEyIiB4bGluazpocmVmPSIjSiIgb3ZlcmZsb3c9InZpc2libGUiLz48L2NsaXBQYXRoPjxnIGNsaXAtcGF0aD0idXJsKCNLKSI+PHBhdGggZD0iTTQ0IDQ4MC4wOTRDODUuNzggMjAyLjE3IDE1MC43Ni0zNi43NjYgMjU1Ljc5MyAyNTYuMDcgMzYxLjY5IDU1MS4zMiA0MjMuMzI1IDMwOS45NyA0NjggMzEuOTA4IiBmaWxsPSJub25lIiBzdHJva2U9IiM2NjYiIHN0cm9rZS13aWR0aD0iMzAiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIvPjxjaXJjbGUgcj0iNjMuMDQ3IiBjeT0iMTIxLjk1NCIgY3g9IjE2My45NTMiIGZpbGw9IiM5OWYiLz48cGF0aCBkPSJNMTYzLjk1MyA1OC45MDZjLTM0LjgxNyAwLTYzLjA0NyAyOC4yMzMtNjMuMDQ3IDYzLjA0NyAwIDM0LjgyMyAyOC4yMyA2My4wNDcgNjMuMDQ3IDYzLjA0N0MxOTguNzcgMTg1IDIyNyAxNTYuNzc3IDIyNyAxMjEuOTUzYzAtMzQuODE0LTI4LjIzLTYzLjA0Ny02My4wNDctNjMuMDQ3em0wIDEwNy4xOGMtMjQuMzc0IDAtNDQuMTMzLTE5Ljc2LTQ0LjEzMy00NC4xMzMgMC0yNC4zNzQgMTkuNzYtNDQuMTMzIDQ0LjEzMy00NC4xMzMgMjQuMzc0IDAgNDQuMTMzIDE5Ljc2IDQ0LjEzMyA0NC4xMzMgMCAyNC4zNzQtMTkuNzYgNDQuMTMzLTQ0LjEzMyA0NC4xMzN6IiBmaWxsPSIjMzMzIi8+PGc+PGNpcmNsZSByPSI2My4wNDciIGN5PSIzOTEuMDQ4IiBjeD0iMzQ2LjA0NyIgZmlsbD0iIzk5ZiIvPjxwYXRoIGQ9Ik0zNDYuMDQ3IDMyOEMzMTEuMjMgMzI4IDI4MyAzNTYuMjMzIDI4MyAzOTEuMDQ3YzAgMzQuODIzIDI4LjIzIDYzLjA0NyA2My4wNDcgNjMuMDQ3IDM0LjgxNyAwIDYzLjA0Ny0yOC4yMjMgNjMuMDQ3LTYzLjA0NyAwLTM0LjgxNC0yOC4yMy02My4wNDctNjMuMDQ3LTYzLjA0N3ptMCAxMDcuMThjLTI0LjM3NCAwLTQ0LjEzMy0xOS43Ni00NC4xMzMtNDQuMTM0czE5Ljc2LTQ0LjEzMyA0NC4xMzMtNDQuMTMzYzI0LjM3NCAwIDQ0LjEzMyAxOS43NiA0NC4xMzMgNDQuMTMzIDAgMjQuMzc0LTE5Ljc2IDQ0LjEzMy00NC4xMzMgNDQuMTMzeiIgZmlsbD0iIzMzMyIvPjwvZz48L2c+PC9zdmc+");
}
.app-icon-cas{
	background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PGRlZnM+PHBhdGggZD0iTTQ4NSA0NDAuMjRjMCAyNC43Mi0yMC4wNCA0NC43Ni00NC43NiA0NC43Nkg3MS43NkM0Ny4wNCA0ODUgMjcgNDY0Ljk2IDI3IDQ0MC4yNFY3MS43NkMyNyA0Ny4wNCA0Ny4wNCAyNyA3MS43NiAyN2gzNjguNDhDNDY0Ljk2IDI3IDQ4NSA0Ny4wNCA0ODUgNzEuNzZ2MzY4LjQ4eiIgaWQ9IkgiLz48L2RlZnM+PGNsaXBQYXRoIGlkPSJJIj48dXNlIGhlaWdodD0iNTEyIiB3aWR0aD0iNTEyIiB4bGluazpocmVmPSIjSCIgb3ZlcmZsb3c9InZpc2libGUiLz48L2NsaXBQYXRoPjxnIGNsaXAtcGF0aD0idXJsKCNJKSI+PHBhdGggZmlsbD0iIzk5ZiIgZD0iTTAgMGgxNTB2NTEySDB6Ii8+PHBhdGggZD0iTTM2MC40ODggMzQ3LjA4OGgtNTYuMDU1bC0zOS4zMDctNjIuNTUtMzYuNTcyIDYyLjU1aC01Mi42MzdsNjIuNTUtOTMuNjUyLTU2LjM5Ny04MS4zNDhoNTUuNzEzbDM0LjUyIDUxLjYxIDI5LjczNy01MS42MWg1Mi4yOTVsLTU1LjAzIDgxLjM0OCA2MS4xODMgOTMuNjUyek01MTIgMjM5Ljk0N0gzNzYuMTc0VjIxOS4zOEg1MTJ2MjAuNTY3ek01MTIgMzAxSDM3Ni4xNzR2LTIwLjg5NUg1MTJWMzAxeiIgZmlsbD0iIzY2NiIvPjwvZz48L3N2Zz4=");
}
.app-icon-geometry{
	background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiI+PGNpcmNsZSBjeD0iMTc1IiBjeT0iMzM2IiByPSIxMjMiIGZpbGw9IiM5OWYiLz48cGF0aCBmaWxsPSIjNjY2IiBkPSJNMTE5LjY2NyAzNDMuMzg4TDMwMi4zMzMgMjcgNDg1IDM0My4zODgiLz48cGF0aCBmaWxsPSIjOTlmIiBkPSJNMTY5LjExNyAzMTQuODM4TDMwMi4zMzMgODQuMSA0MzUuNTUgMzE0Ljg0Ii8+PHBhdGggZmlsbD0iIzYxNjFmZiIgZD0iTTE0OC45NDQgMzI3bDczLjM5LTEyNC40OTRDMjc5Ljc2NCAyMjkuNDkgMzExLjI4IDI2OS43MiAzMDkuNDM2IDMyN0gxNDguOTQ0eiIvPjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0xNzUgNDg2Yy04Mi44NDMgMC0xNTAtNjcuMTU3LTE1MC0xNTBzNjcuMTU3LTE1MCAxNTAtMTUwIDE1MCA2Ny4xNTcgMTUwIDE1MC02Ny4xNTcgMTUwLTE1MCAxNTB6bTEyMy0xNTBjMC02Ny45My01NS4wNy0xMjMtMTIzLTEyM1M1MiAyNjguMDcgNTIgMzM2czU1LjA3IDEyMyAxMjMgMTIzIDEyMy01NS4wNyAxMjMtMTIzeiIvPjxwYXRoIGZpbGw9IiMzMzMiIGQ9Ik0zMjQuODIgMzQzLjM4OEgxMTkuNjY4bDg4LjcxNS0xNTMuNjZhMTQ4Ljc0NSAxNDguNzQ1IDAgMCAxIDI3LjY0NyA5LjIwOGM0Ni4yNjMgMjAuNjMgODAuMTYgNjMuOTk3IDg3LjQ5IDExNS45YTE1MS41MDYgMTUxLjUwNiAwIDAgMSAxLjMgMjguNTUyek0yMjIuNDQgMjIyLjQ4bC01My4zMjMgOTIuMzU4aDEyNy4wN2MtNy4yNTQtNDEuODI1LTM1LjYzLTc2LjQwNi03My43NDItOTIuMzU0Ii8+PC9zdmc+");
}
.app-icon-3d{
	background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJNLjk3MiAxNS4zMjhsNy44OC0xMi45NjJMNi43NDYgMTguMzgiIGZpbGw9IiMzMzMiLz48cGF0aCBkPSJNNi43NDYgMTguMzhMOC44NTIgMi4zNjZsOS45NyAxMy42OCIgZmlsbD0iIzY2NiIvPjxwYXRoIGQ9Ik0yLjI2NyAxNC45OTJMNy4zMyA2LjY1NSA2LjAxIDE2LjkzMyIgZmlsbD0iIzYxNjFmZiIvPjxwYXRoIGQ9Ik03LjgxMiAxNy4yNUw5LjQzNiA0Ljc0bDcuNzY2IDEwLjY5NiIgZmlsbD0iIzk5ZiIvPjwvc3ZnPg==");
	}
.app-icon-spreadsheet{
	background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMjAgMjAiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGRlZnM+PHBhdGggaWQ9ImEiIGQ9Ik00ODUgNDQwLjI0YzAgMjQuNzItMjAuMDQgNDQuNzYtNDQuNzYgNDQuNzZINzEuNzZDNDcuMDQgNDg1IDI3IDQ2NC45NiAyNyA0NDAuMjRWNzEuNzZDMjcgNDcuMDQgNDcuMDQgMjcgNzEuNzYgMjdoMzY4LjQ4QzQ2NC45NiAyNyA0ODUgNDcuMDQgNDg1IDcxLjc2djM2OC40OHoiLz48L2RlZnM+PGNsaXBQYXRoIGlkPSJiIj48dXNlIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBvdmVyZmxvdz0idmlzaWJsZSIgeGxpbms6aHJlZj0iI2EiLz48L2NsaXBQYXRoPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0uMDE2IC4xNDgpIHNjYWxlKC4wMzkwNikiIGNsaXAtcGF0aD0idXJsKCNiKSIgZmlsbD0iIzk5ZiI+PHBhdGggZD0iTTI2IDI2aDQ2MHYxMzBIMjZ6Ii8+PHBhdGggZD0iTTI2IDI2aDEzMHY0NjBIMjZ6Ii8+PC9nPjxwYXRoIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0uMDE2IC4xNDgpIHNjYWxlKC4wMzkwNikiIGNsaXAtcGF0aD0idXJsKCNiKSIgZD0iTTE1Ny41MDQgMTkuMzMzaDI0djE4Ni4zMzNoLTI0eiIgZmlsbD0iI2ZmZiIvPjxwYXRoIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0uMDE2IC4xNDgpIHNjYWxlKC4wMzkwNikiIGNsaXAtcGF0aD0idXJsKCNiKSIgZD0iTTIwIDE1NS41MDRoMTM5Ljc2NnYyNEgyMHptMCAxNTYuMzI4aDE0MC43NjZ2MjRIMjB6TTMxMC45MzQgMjFoMjR2MTM5Ljc2NWgtMjR6IiBmaWxsPSIjZmZmIi8+PHBhdGggdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLS4wMTYgLjE0OCkgc2NhbGUoLjAzOTA2KSIgY2xpcC1wYXRoPSJ1cmwoI2IpIiBkPSJNMTU2IDMxMS44MzJoMzMwdjI0SDE1NnoiIGZpbGw9IiM2NjYiLz48cGF0aCB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtLjAxNiAuMTQ4KSBzY2FsZSguMDM5MDYpIiBjbGlwLXBhdGg9InVybCgjYikiIGQ9Ik0zMTAuOTM0IDE1Ni4yNTJoMjRWNDg2aC0yNHoiIGZpbGw9IiM2NjYiLz48cGF0aCBkPSJNMTEuMjkyIDUuNTMyaC0uNTA2bC0uMzcyLS45MmgtMS42OGwtLjM3Ni45MmgtLjQ5M2wxLjQ0NC0zLjQzaC41MnpNMTAuMjE1IDQuMjFMOS41NiAyLjYyNCA4LjkyIDQuMjFoMS4yOTV6TTQuMTMgMTEuNjFoLS40NFY4Ljc0NmMtLjE3OC4xMjQtLjQyNi4yNTYtLjc0NS4zOTV2LS4zOTRjLjEzNC0uMDgyLjI2My0uMTc0LjM4NC0uMjc1LjExOC0uMDk4LjIwMy0uMTczLjI1Mi0uMjI0LjA1LS4wNS4wNzUtLjA3NS4wNzUtLjA3MmguNDc0djMuNDM3em0uNDQ1IDYuMDYySDIuNXYtLjQ0Yy40MDQtLjQ1LjcyNC0uODEuOTYtMS4wNzQuMjM4LS4yNjUuNDA0LS40Ny41LS42MTQuMDk0LS4xNDQuMTQtLjI3LjE0LS4zOCAwLS4yMDctLjA0LS4zNi0uMTItLjQ1Ny0uMDgtLjEtLjIxNi0uMTQ4LS40MDUtLjE0OC0uMTY3IDAtLjI5My4wNDgtLjM3Ny4xNDQtLjA4My4wOTctLjEzOC4yNS0uMTYzLjQ2aC0uNDgzYy4wNS0uNjY2LjM5LTEgMS4wMjMtMSAuMzEzIDAgLjU1OC4wOTYuNzM1LjI4Ny4xNzcuMTkuMjY1LjQwNy4yNjUuNjUgMCAuMDczLS4wMDYuMTQyLS4wMTguMjAzLS4wMTMuMDYzLS4wMzMuMTI4LS4wNi4xOTgtLjAzLjA3LS4wNjcuMTQyLS4xMTUuMjE2LS4wNDguMDc1LS4xMDguMTYtLjE4LjI1NC0uMDc0LjA5NS0uOTE3IDEuMDUzLTEuMDE2IDEuMTY0LS4xLjExMiAxLjU0My0uMDUgMS40MTIuMDk4IiBmaWxsPSIjMzMzIi8+PC9zdmc+");
}
.app-icon-probability{
	background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PGRlZnM+PHBhdGggZD0iTTQ4NSA0NDAuMjRjMCAyNC43Mi0yMC4wNCA0NC43Ni00NC43NiA0NC43Nkg3MS43NkM0Ny4wNCA0ODUgMjcgNDY0Ljk2IDI3IDQ0MC4yNFY3MS43NkMyNyA0Ny4wNCA0Ny4wNCAyNyA3MS43NiAyN2gzNjguNDhDNDY0Ljk2IDI3IDQ4NSA0Ny4wNCA0ODUgNzEuNzZ2MzY4LjQ4eiIgaWQ9Im0iLz48L2RlZnM+PGNsaXBQYXRoIGlkPSJuIj48dXNlIGhlaWdodD0iNTEyIiB3aWR0aD0iNTEyIiB4bGluazpocmVmPSIjbSIgb3ZlcmZsb3c9InZpc2libGUiLz48L2NsaXBQYXRoPjxnIGNsaXAtcGF0aD0idXJsKCNuKSI+PHBhdGggZD0iTTE1NS41NjQgNDQ2LjUxaDIwMC44NzNWMTgwLjUyNEMzMTAuODQ3IDEwOC4xMDcgMjgxLjMwMiA3My4yNCAyNTYgNzMuMjRjLTI1LjMwMiAwLTU0Ljg0NyAzNC44NjctMTAwLjQzNiAxMDcuMjgzVjQ0Ni41MXoiIGZpbGw9IiM5OWYiLz48cGF0aCBkPSJNNjA5IDQyMi45NjhzLTEzMC45NyAyMS40MDUtMjA3LjA2LTE0Ny43QzMyNS44NSAxMDYuMTYgMjg3LjE4NCA2NS40ODcgMjU2IDY1LjQ4N2MtMzEuMTgzIDAtNjkuODUgNDAuNjcyLTE0NS45NCAyMDkuNzc4Uy05NyA0MjIuOTY4LTk3IDQyMi45NjgiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzY2NiIgc3Ryb2tlLXdpZHRoPSIyNiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjI2IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0tOTcgNDQ2LjUxaDcwNiIvPjwvZz48L3N2Zz4=");
}
.app-icon-scientific{
	background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIj48ZGVmcz48c3R5bGU+LmNscy00e2ZpbGw6IzY2Nn08L3N0eWxlPjxjbGlwUGF0aCBpZD0iY2xpcC1wYXRoIj48cmVjdCB4PSIyNyIgeT0iMjciIHdpZHRoPSI0NTgiIGhlaWdodD0iNDU4IiByeD0iNDQuNzYiIGZpbGw9Im5vbmUiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBjbGlwLXBhdGg9InVybCgjY2xpcC1wYXRoKSI+PHBhdGggZmlsbD0iIzk5ZiIgZD0iTTAgMzMxLjFoNTEyVjQ3NUgweiIvPjxwYXRoIGNsYXNzPSJjbHMtNCIgZD0iTTAtLjc3aDUxMnY1MTMuNTRIMHptNDY3IDgyLjg5QzQ2NyA1OS40MSA0NTMuNTkgNDYgNDMwLjg4IDQ2SDgyLjEyQzU5LjQxIDQ2IDQ2IDU5LjQxIDQ2IDgyLjEydjM0OC43NkM0NiA0NTMuNTkgNTkuNDEgNDY3IDgyLjEyIDQ2N2gzNDguNzZjMjIuNzEgMCAzNi4xMi0xMy40MSAzNi4xMi0zNi4xMnoiLz48cGF0aCBjbGFzcz0iY2xzLTQiIGQ9Ik0wIDE3My42N2g1MTJ2MThIMHpNMCAzMjAuMzNoNTEydjE4SDB6Ii8+PC9nPjxwYXRoIGNsYXNzPSJjbHMtNCIgZD0iTTE1OS41IDk5LjY2di0zOGgxOXYzOGgzOC4yNXYxOS42OEgxNzguNXYzOGgtMTl2LTM4aC0zOC4yNVY5OS42NnpNMTIxLjIgMjQ2LjA4aDk1LjZ2MTkuNjdoLTk1LjZ6Ii8+PHBhdGggZD0iTTIxNi44IDM3MS44OHYxOS42N2gtOTUuNnYtMTkuNjd6bTAgNDEuNFY0MzNoLTk1LjZ2LTE5LjcyeiIgZmlsbD0iIzMzMyIvPjwvc3ZnPg==");
}
.app-icon-classic{
	background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PGcgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiM2NjYiIHN0cm9rZS13aWR0aD0iMzMuMzQiIGQ9Ik00MzIuMzQ1IDI1MC44NzZjMCA4Ny4zMS03NS45OCAxNTguMDg4LTE2OS43MDUgMTU4LjA4OC05My43MjYgMC0xNjkuNzA2LTcwLjc3OC0xNjkuNzA2LTE1OC4wODggMC04Ny4zMSA3NS45OC0xNTguMDkgMTY5LjcwNi0xNTguMDkgOTMuNzI1IDAgMTY5LjcwNSA3MC43OCAxNjkuNzA1IDE1OC4wOXoiIHRyYW5zZm9ybT0ibWF0cml4KDEuMDE1NiAuMDEzODkgLS4yMDE1MiAuOTkyNCA0Mi45MjQgOC43NSkiLz48cGF0aCBmaWxsPSIjOTlmIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMTUuNTUiIGQ9Ik02NDQuMjg2IDE0NS41NzFjMCAyNi40MzEtMjAuNzg3IDQ3Ljg1OC00Ni40MjkgNDcuODU4LTI1LjY0MiAwLTQ2LjQyOC0yMS40MjctNDYuNDI4LTQ3Ljg1OCAwLTI2LjQzIDIwLjc4Ni00Ny44NTcgNDYuNDI4LTQ3Ljg1NyAyNS42NDIgMCA0Ni40MjkgMjEuNDI3IDQ2LjQyOSA0Ny44NTd6IiB0cmFuc2Zvcm09Im1hdHJpeCguOTY4NDIgMCAwIC45MTQzOCAtMjI1LjU5IDI0Mi43OTYpIi8+PHBhdGggZmlsbD0iIzk5ZiIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjE1LjU1IiBkPSJNNjQ0LjI4NiAxNDUuNTcxYzAgMjYuNDMxLTIwLjc4NyA0Ny44NTgtNDYuNDI5IDQ3Ljg1OC0yNS42NDIgMC00Ni40MjgtMjEuNDI3LTQ2LjQyOC00Ny44NTggMC0yNi40MyAyMC43ODYtNDcuODU3IDQ2LjQyOC00Ny44NTcgMjUuNjQyIDAgNDYuNDI5IDIxLjQyNyA0Ni40MjkgNDcuODU3eiIgdHJhbnNmb3JtPSJtYXRyaXgoLjk2ODQyIDAgMCAuOTE0MzggLTE1MS4xMiA3Mi4wMDQpIi8+PHBhdGggZmlsbD0iIzk5ZiIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjE1LjU1IiBkPSJNNjQ0LjI4NiAxNDUuNTcxYzAgMjYuNDMxLTIwLjc4NyA0Ny44NTgtNDYuNDI5IDQ3Ljg1OC0yNS42NDIgMC00Ni40MjgtMjEuNDI3LTQ2LjQyOC00Ny44NTggMC0yNi40MyAyMC43ODYtNDcuODU3IDQ2LjQyOC00Ny44NTcgMjUuNjQyIDAgNDYuNDI5IDIxLjQyNyA0Ni40MjkgNDcuODU3eiIgdHJhbnNmb3JtPSJtYXRyaXgoLjk2ODQyIDAgMCAuOTE0MzggLTQyMS4yOSAyNjYuNTc0KSIvPjxwYXRoIGZpbGw9IiM5OWYiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIxNS41NSIgZD0iTTY0NC4yODYgMTQ1LjU3MWMwIDI2LjQzMS0yMC43ODcgNDcuODU4LTQ2LjQyOSA0Ny44NTgtMjUuNjQyIDAtNDYuNDI4LTIxLjQyNy00Ni40MjgtNDcuODU4IDAtMjYuNDMgMjAuNzg2LTQ3Ljg1NyA0Ni40MjgtNDcuODU3IDI1LjY0MiAwIDQ2LjQyOSAyMS40MjcgNDYuNDI5IDQ3Ljg1N3oiIHRyYW5zZm9ybT0ibWF0cml4KC45Njg0MiAwIDAgLjkxNDM4IC00ODMuNjMyIDEwMC4zNjIpIi8+PHBhdGggZmlsbD0iIzk5ZiIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjE1LjU1IiBkPSJNNjQ0LjI4NiAxNDUuNTcxYzAgMjYuNDMxLTIwLjc4NyA0Ny44NTgtNDYuNDI5IDQ3Ljg1OC0yNS42NDIgMC00Ni40MjgtMjEuNDI3LTQ2LjQyOC00Ny44NTggMC0yNi40MyAyMC43ODYtNDcuODU3IDQ2LjQyOC00Ny44NTcgMjUuNjQyIDAgNDYuNDI5IDIxLjQyNyA0Ni40MjkgNDcuODU3eiIgdHJhbnNmb3JtPSJtYXRyaXgoLjk2ODQyIDAgMCAuOTE0MzggLTMyOS4wNTIgLTIzLjY0OSkiLz48L2c+PC9zdmc+");
}